<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD__x5z3_W1kHRXxIVDduig4oJ9Y9qXiPw</string>
	<key>GCM_SENDER_ID</key>
	<string>858716814788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plannerforthe.road</string>
	<key>PROJECT_ID</key>
	<string>planner-for-the-road</string>
	<key>STORAGE_BUCKET</key>
	<string>planner-for-the-road.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858716814788:ios:5a74ef389a1b32b2283891</string>
	<key>DATABASE_URL</key>
	<string>https://planner-for-the-road-default-rtdb.firebaseio.com</string>
</dict>
</plist>